Redirect 301 /index.php/site/home        http://lawrenceyoga.com/index.shtml
Redirect 301 /index.php/site/schedule    http://lawrenceyoga.com/schedule.shtml
Redirect 301 /index.php/pricing          http://lawrenceyoga.com/pricing.shtml
Redirect 301 /index.php/about            http://lawrenceyoga.com/about.shtml
Redirect 301 /index.php/faq              http://lawrenceyoga.com/faq.shtml
Redirect 301 /index.php/contact          http://lawrenceyoga.com/contact.shtml


