<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href='/css/base.css'>
	<link rel="stylesheet" href='/css/skeleton.css'>
	<link rel="stylesheet" href='/css/layout.css'>
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Oleo+Script' type='text/css'>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

        <!-- Start Google analytics code -->
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try{
        var pageTracker = _gat._getTracker("UA-37080753-1");
        pageTracker._trackPageview();
        } catch(err) {}</script>
        <!-- End Google analytics code -->
<meta name="norton-safeweb-site-verification" content="3lv1obvejnj290j9n9pwehql11v-oysdjf3vbkbc166r9p17ef6kwrhcrv1oaijs1xr55s2-945f9r2eb2zny5vcu7jrdxc0czojfisa0ourugenw1glby88ul29j2r1" />
</head>
<body>

  <!-- Facebook code for like button -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=121505924562098";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!-- Facebook code for like button -->

  <div class="wrapper">
  <div class = "band headerblock">
    <header class="container">
      <div class="four columns logoblock">
        <h1 class="logo"><a href="">logo</a> </h1>
      </div>
      <div class="twelve columns">
        <div class="contact">
          275 Essex Street, 2nd Floor<br />
          Lawrence, MA 01840<br />
          978.566.1322<br />
          <a href="mailto:info@lawrenceyoga.com">info@lawrenceyoga.com</a><br />
          <!--
          <a href="#">directions</a>
          -->
        </div>
      </div>
    </header> 
  </div>  

  <!--
  <div class = "band whitestripe">
    <div class="container">
      <div class="sixteen columns">
      </div>
    </div> 
  </div>  
  -->

  <div class = "band topstripe">
    <div class="container">
      <div class="sixteen columns">
      </div>
    </div> 
  </div>  

  <div class = "band whitestripe">
    <div class="container">
      <div class="sixteen columns">
      </div>
    </div> 
  </div>  

  <div class = "band botstripe">
    <div class="container">
      <div class="sixteen columns">
      </div>
    </div> 
  </div>  
