        <div class="four columns">

        <div class="mailinglist2">
          <div class="mlheader2">
            Join our mailing list
          </div>
          <div class="mlcontent">

            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
              <form action="http://lawrenceyogacollective.us2.list-manage.com/subscribe/post?u=f46723e821077ba851e19a61a&amp;id=838cb78947" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address  <!--<span class="asterisk">*</span>--></label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div class="mc-field-group">
	          <label for="mce-ZIPCODE">Zip Code  <!--<span class="asterisk">*</span>--></label>
	          <input type="text" value="" name="ZIPCODE" class="required" id="mce-ZIPCODE">
                </div>
                <!-- <div class="indicates-required"><span class="asterisk">*</span>required</div> -->
	        <div id="mce-responses" class="clear">
	          <div class="response" id="mce-error-response" style="display:none"></div>
	          <div class="response" id="mce-success-response" style="display:none"></div>
	        </div>	
                <div"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </form>
            </div>
            <!--End mc_embed_signup-->
          </div>
        </div>
      </div>
    </div> 
  </div>  
</div>
</body>
</html>
