        <div class="four columns">
        <div class="todaysclasses">
          <div class="tcheader">
            today's classes
          </div>
          <div class="tccontent">
            <!--#include virtual="/cgi-bin/todays_classes.cgi" -->
          </div>
        </div>

        <div class="socialmedia">
          <div class="smheader">
            social media
          </div>
          <div class="smcontent">
            <br>
            <dev><a href="mailto:info@lawrenceyoga.com">info@lawrenceyoga.com</a>
            <!-- Start Twitter button -->
<a href="https://twitter.com/lawrenceyoga" class="twitter-follow-button" data-show-count="false">Follow @lawrenceyoga</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            <!-- End Twitter button -->
            <div class="fb-like" data-href="http://www.facebook.com/LawrenceYogaCollective" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
          </div>
        </div>

        <div class="mailinglist2">
          <div class="mlheader2">
            Join our mailing list
          </div>
          <div class="mlcontent">

            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
              <form action="http://lawrenceyogacollective.us2.list-manage.com/subscribe/post?u=f46723e821077ba851e19a61a&amp;id=838cb78947" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address  <!--<span class="asterisk">*</span>--></label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div class="mc-field-group">
	          <label for="mce-ZIPCODE">Zip Code  <!--<span class="asterisk">*</span>--></label>
	          <input type="text" value="" name="ZIPCODE" class="required" id="mce-ZIPCODE">
                </div>
                <!-- <div class="indicates-required"><span class="asterisk">*</span>required</div> -->
	        <div id="mce-responses" class="clear">
	          <div class="response" id="mce-error-response" style="display:none"></div>
	          <div class="response" id="mce-success-response" style="display:none"></div>
	        </div>	
                <div"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </form>
            </div>
            <!--End mc_embed_signup-->
          </div>
        </div>
      </div>
    </div> 
  </div>  
</div>
</body>
</html>
